<server>
    <featureManager>
        <feature>microprofile-1.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="${default.server.host}"
                  httpPort="${default.http.port}">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>
    <webContainer trustHostHeaderPort='true' extractHostHeaderPort='true'/>
    <httpDispatcher enableWelcomePage='true'/>
    <applicationMonitor dropinsEnabled='false' updateTrigger='mbean'/>
    <config updateTrigger='mbean'/>
    <cdi12 enableImplicitBeanArchives='false'/>

    <webApplication id="liberty-microprofile-app" name="liberty-microprofile-app" context-root="/${libertyapi.context.root}" 
    				location="liberty-microprofile-app.war"/>
</server>
